

.maincont{
 width: 600px;
 margin: auto;
}


.bg{
   width: 100%;
   height: 100%;
   margin: auto;
   background-repeat: no-repeat ;
   background-size:100%;
   
}

.background-img{
    position: relative;
}

.main-color-container{
   display: flex;
   justify-content: center;
   align-items: flex-end;

    /* width:900px;
    height:600px */
}

.secondary-color-container{
    display: flex;
    position: absolute;
    top: 11.4em;
}

.boxColorCont{
    display: block;
}

.boxColorCont-left{
    display: inline-block;
}
.boxColorCont-left .input[type="checkbox"]{
    accent-color: red;
}

.boxColorCont-right{
    display: inline-block;
}

.checkboxoption{
    width: 9rem;
    height: 9rem;
    accent-color: red;
}

.colorTableCont{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    
}


.colorTable{
    width: 20.2em;
    height: 35em;
    padding-bottom: 100px;
    background-image: url('../pictures/Board.png');
    background-repeat: no-repeat;
}

.display-colors {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-container {
   
    width: 9.5em;
    height: 7.0em;
    border: 1px solid black;
    margin: 2%;
}

.button-bottom{
    padding: 10px;
}

.colorClick:focus{
    border: 2px solid gold;
}

.sub-color-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.colorbox-cont{
    padding-bottom: 100px;
}


.btnGo{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.status{
    display: flex;
    justify-content: center;
    align-items: center;
}
.status2{
    text-align: center;
}

#colorRed{
    background-color: red;
}

#colorBlue{
    background-color: blue;
}

#colorGreen{
    background-color: green;
}

#colorWhite{
    background-color: white;
}

#colorYellow{
    background-color: yellow;
}

#colorPink{
    background-color: pink;
}

.letsPlayCont{
    margin-top: 20px;
    display:flex;
    justify-content: center;
}

.colorClick{
    width: 100%;
    height: 100%;
    opacity: 0%;
}

.diceModal{
    position: absolute;
    
}